.signUp {
  padding: 3rem;
}

.signUp div {
  margin-bottom: 1rem;
}

.signUp input {
  width: 100%;
  height: 3rem;
}

.currentLocation {
  margin-bottom: 2em;
  padding: 1rem 3rem;
  font-size: 1.1rem;
}
