.button {
  font: inherit;
  width: 65%;
  border: 1px solid #e7b467;
  background: #e7b467;
  color: white;
  padding: 1.2rem 3rem;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 30px;
  min-width: 250px;
}

.button:hover {
  background: #e19a30;
  border-color: #e19a30;
}
