.input {
  width: 95%;
  height: 3.5rem;
  border: 1.5px solid black;
  border-radius: 10px;
  font-size: 1rem;
}

.input:focus {
  outline: 2px solid #e19a30;
  border: none;
}

.input:focus::placeholder {
  color: transparent;
}
.input::placeholder {
  opacity: 0.7;
}
