.startPage {
  text-align: center;
}
.startPage img {
  width: 13rem;
  margin: 9rem 0 3rem 0;
}

.startPage p {
  margin-bottom: 8rem;
}

.startPage Button {
  margin-bottom: 2rem;
}

.login {
  color: #e7b467;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 60px;
  font-size: 1rem;
}

.login:hover {
  color: #e19a30;
}
